In [1]:
# to enable autocomplete 
%config IPCompleter.greedy=True

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_dataset = pd.read_csv("data/train.csv")

In [4]:
print(train_dataset.shape)
train_dataset.head()

(188318, 132)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [5]:
test_dataset = pd.read_csv("data/test.csv")

In [6]:
print(test_dataset.shape)
test_dataset.head()

(125546, 131)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [ ]:
train_dataset.describe()
# No missing data in continuous columns. count == 188318
# No negative values

In [ ]:
print(train_dataset.skew())
# values close to 0 are less skew

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
print(len(train_dataset.columns))

In [9]:
continuous_train_data = train_dataset.iloc[:,117:]
continuous_train_data.shape

(188318, 15)

In [10]:
cols = continuous_train_data.columns

In [ ]:
for i in range(7):
    fg,ax = plt.subplots(nrows = 1, ncols = 2, figsize = (12, 8))
    sns.violinplot(y = cols[i*2], data = train_dataset, ax = ax[0])
    sns.violinplot(y = cols[i*2+1], data = train_dataset, ax = ax[1])

In [ ]:
sns.violinplot(data=train_dataset, y='loss')
plt.show()

In [11]:
# skew correction
# log1p == log(1+x) to all the elements in that column
train_dataset['loss'] = np.log1p(train_dataset['loss'])

In [ ]:
sns.violinplot(data=train_dataset, y='loss')

In [12]:
#correlation of continous data
Cont_data_corr = continuous_train_data.iloc[:,:-1].corr()

In [ ]:
print(Cont_data_corr.shape)

In [ ]:
print(Cont_data_corr.iloc[:,0:2])
print(Cont_data_corr.iloc[0,1])

In [ ]:
if Cont_data_corr.iloc[0,1] >= 0.5:
    print("xv")
else:
    print("vvv")

In [ ]:
threshold = 0.5
corr_list = []



for i in range(0, 14):
    for j in range(i+1, 14):
        if (Cont_data_corr.iloc[i,j] >= threshold
             and Cont_data_corr.iloc[i,j] < 1) or (Cont_data_corr.iloc[i,j] < 0 and
             Cont_data_corr.iloc[i,j] <= -threshold):
                   corr_list.append([Cont_data_corr.iloc[i,j],i,j])
s_corr_list = sorted(corr_list, key=lambda x: -abs(x[0]))

In [13]:
cols = Cont_data_corr.columns

In [ ]:
# correlations

for c,i,j in s_corr_list:
    print("%s and %s = %.2f" % (cols[i],cols[j],c))

In [ ]:
# Scatter plot
for c, i, j in s_corr_list:
    sns.pairplot(train_dataset, x_vars=cols[i], y_vars= cols[j], size=6)
    plt.show()

In [ ]:
#sns.set(color_codes=True)
sns.pairplot(train_dataset, x_vars=cols[10], y_vars= cols[11], size=6)
plt.show()

In [ ]:
train_dataset.plot.scatter(cols[10], cols[11])

In [14]:
cat_cols = train_dataset.columns[1:117]

In [ ]:
# categorical features


for i in range(29):
    fg, ax = plt.subplots(nrows=1, ncols=4, sharey = True, figsize=(12, 8))
    for j in range(4):
        sns.countplot(x=cat_cols[i*4+j], data=train_dataset, ax=ax[j])

In [15]:
# converting cat1 to cat116 string data to numerical data
labels = []
for i in range(0,116):
    train_cat_type = train_dataset[cat_cols[i]].unique()
    test_cat_type = test_dataset[cat_cols[i]].unique()
    labels.append(list(set(train_cat_type) | set(test_cat_type)))

print(len(labels))

116

In [16]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [17]:
cats = []
for i in range(0, 116):
    label_encoder = LabelEncoder()
    label_encoder.fit(labels[i])
    feature = label_encoder.transform(train_dataset.iloc[:,i+1])
    feature = feature.reshape(train_dataset.shape[0], 1)
    # One hot encode
    onehot_encoder = OneHotEncoder(sparse = False, 
                                   n_values=len(labels[i]))
    feature = onehot_encoder.fit_transform(feature)
    cats.append(feature)
    
encoded_cats = np.column_stack(cats)

In [18]:
print(encoded_cats.shape)

(188318, 1176)

In [ ]:
# Concatentate encoded attributes with continuous attributes
train_encoded = np.concatenate((encoded_cats, train_dataset.iloc[:,116:].values), axis=1)

In [ ]:
train_encoded.shape

In [ ]:
print("jhf")